# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.idea
# Unecessary Fresh Files
_fresh/
# npm dependencies
node_modules/

# Files That don't need to be tracked
islands/ChatHistoryTwoo.tsx
islands/ChatInputTwo.tsx
routes/api/phrases2.ts
cantoDB/.DS_Store
.DS_Store